@model List<Skill>
<section id="section3">
	<div class="container">
		<h2>Yeteneklerim</h2>
		<div class="row">
			<div class="col-sm-6">
				<h4>Teknik Bilgilerim</h4>

				@foreach (var item in Model)
				{
					if (!string.IsNullOrEmpty(item.SkillTitle))
					{
						<label class="progress-bar-label">@item.SkillTitle</label>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="@item.SkillValue" aria-valuemin="0" aria-valuemax="100">
								<span>@item.SkillValue</span>
							</div> <!-- end .progress-bar -->
						</div>
					}

				}
			</div> <!-- end .col-sm-6 -->

			<div class="col-sm-6">
				<h4>Bilgilerim</h4>
				<div class="row">
					<div class="col-sm-6">

						@foreach (var item in Model)
						{
							<ul class="list-icons purple bold-list">
								<li><i class="md-arrow-forward"></i>@item.Knowledge</li>
							</ul>
						}
					</div> <!-- end .col-sm-6 -->
				</div> <!-- end .row -->
			</div> <!-- end .col-sm-6 -->
		</div> <!-- end .row -->

		<div class="spacer"></div>

		<h4>Dil Bilgilerim</h4>
		<div class="row">
			@foreach (var item in Model)
			{
				if (!string.IsNullOrEmpty(item.Language) && item.LanguagePercentage.HasValue)
				{
					<div class="col-sm-4">
						<div class="circle-progress-wrapper clearfix">
							<div class="circle-progress">
								<input type="text"
									   class="dial"
									   value="@item.LanguagePercentage"
									   data-color="#7c4dff"
									   data-from="0"
									   data-to="@item.LanguagePercentage" />
							</div>
							<div class="circle-progress-label-wrapper">
								<label class="circle-progress-label">@item.Language</label>
							</div>
						</div>
					</div>
				}
			}



		</div> <!-- end .row -->
	</div> <!-- end .container -->
</section>

