@model List<AkademiQPortfolio.Entities.Testimonial>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="testimonial-slider owl-carousel">
            @foreach(var item in Model)
            {
			    <div>
				    <div class="image"><img src="@item.ImageUrl" alt="@item.ClientName"></div>
				    <div class="sep"></div>
				    <p>" @item.Comment "</p>
				    <span class="author">@item.ClientName , @item.Company</span>
			    </div>
            }
		</div> <!-- end .testimonial-slider -->
	</div> <!-- end .col-sm-8 -->
</div> <!-- end .row -->
