@model List<AkademiQPortfolio.Entities.Work>
@using System.Linq

<section id="section6">
	<div class="container">
		<h2>Projelerim</h2>
		<div class="portfolio-wrapper">
			<div id="portfolio-filters" class="portfolio-filters">
				<button class="button solid-button white-purple small" data-filter="*">Hepsini Göster</button>
                @foreach(var category in Model.Select(x => x.SubTitle).Distinct())
                {
                    if(!string.IsNullOrEmpty(category))
                    {
                        <button class="button solid-button white-purple small" data-filter=".@category.ToLower().Replace(" ", "-")">@category</button>
                    }
                }
			</div>
			<div id="portfolio" class="portfolio">
                @foreach(var item in Model)
                {
                    var categoryClass = item.SubTitle != null ? item.SubTitle.ToLower().Replace(" ", "-") : "";
				    <div class="item @categoryClass">
					    <img src="@item.ImageUrl" alt="@item.Title" class="img-responsive">
					    <a href="#" class="overlay">
						    <div class="background"></div>
						    <div class="meta">
							    <span class="title">@item.Title</span>
							    <span class="category">@item.SubTitle</span>
						    </div> 
					    </a>
				    </div>
                }
			</div>
		</div>
	</div>
</section>
